
body {
	width: 100vw;
	height: 100vh;
}

.window-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #465775;
}

.main-content {
	position: relative;
	width: 90%;
	margin-top: 3rem;
}

.add-storage {
	position: relative;
	display: none;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 3rem;
	background-color: #C7C7A6;
}
.form-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 10rem;
	row-gap: 1rem;
	margin: 3rem 0rem;
	width: fit-content;
}

.form-container div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 20rem;
}

.form-show-id {
	width: fit-content;
}

.form_delete-button {
	border: 1px solid black;
	padding: 0.3rem 2rem;
}

.display {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 5rem;
}

#table-display {
	width: 100%;
	height: 100%;
	border-spacing: 0 0.7rem;
}

#table-display th {
	padding: 0.5rem 2rem;
	color: white;
	background-color: #59C9A5;
	text-align: center;
}

#table-display tr {
	text-align: center;
	border-radius: 5rem;
}

#tbody {
	background-color: white;
}


.submit-button {
	border: 1px solid black;
	background-color: white;
	width: 10rem;

}

.open-button, .close-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 2.5rem;
	width: 8.5rem;
	right: 0;
	top: 0;
	border-radius: 0.1rem;
	background-color: #59C9A5;
	color: white;
	transition: all 200ms;
}

.close-button {
	height: 2rem;
	width: 2.1rem;
	right: 2.1rem;
	top: 2rem;
}

.close-button:hover, .open-button:hover {
	background-color: #474548;
	transition: all 200ms;
	font-style: italic;
}

h2 {
	width: fit-content;
}

input {
	width: 10rem;
}

select {
	width: 10rem;
}

.update-prompt {
	position: absolute;
	top: 5rem;
	right: 20rem;
}

.missing-input-form {
	border: 2px solid red;
	transition: all 50ms ease;
}

.form-error-message, .form-confirmation-message {
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	width: fit-content;
	text-align: center;
	background-color: #B23A48;
	padding: 1rem 3rem;
	border-radius: 1rem;
	font-size: 1.6rem;
}

.form-confirmation-message {
	background-color: #399E5A;
}
/* LOGIC */

.visible {
	display: flex;
}