
body {
	width: 100vw;
	height: 100vh;
}

.window-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.landing-page button {
	border: 1px solid black;
	padding: 2.5rem;
	border-radius: 0.1rem;
	
}

.landing-page button:hover{
	transform: scale(101%);
}

.add-storage {
	display: none;
}
.form-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}


#table-display th {
	padding: 1rem 4rem;
	color: white;
	background-color: #6E6A6F;
	text-align: center;
}

#table-display td {
	text-align: center;
}


/* LOGIC */

.visible {
	display: flex;
}